@use 'mixins' as mixins;
/* Application layout structure */
/* Layout and Structure */

html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

@include mixins.mobile {

    html,
    body {
        height: auto;
        overflow: auto;
        margin: 0;
    }
}

.main-layout {
    font-family: 'Segoe UI', sans-serif;
    margin: 0 .75px;
    padding-bottom: var(--padding-base);
}

.calendar-content {
    display: flex;
    flex-direction: column;

}

.day-grid {
    position: relative;
    width: 100%;
    box-sizing: border-box;

}

.day-event-catcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500;
    pointer-events: auto;
}

/* If the event modal is open, disable pointer events on the day catcher */
#event-modal.show ~ #day-modal .day-event-catcher {
    pointer-events: none;
}

.calendar-scroll-body {

    overflow-y: auto;
    padding: var(--padding-base) 0;
    box-sizing: border-box;
    background-color: var(--color-background);
}

.week-chart-scroll {
    overflow-x: visible;
    /* scrolling handled by parent container */
    box-sizing: border-box;
    margin: 0 var(--padding-base);
    padding: 0 0 calc(var(--padding-base) * 3 + var(--overflow-expand-max-height));
}

.week-label {
    color: var(--color-accent);
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius-sm);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-header);
    font-weight: var(--font-weight-bold);
    padding: var(--padding-base) 0;
    margin: 0 var(--padding-base) var(--gap-legend);
}

@include mixins.mobile {
    .week-label {
        font-size: var(--font-header);
        margin-left: 0;
        margin-right: 0;
    }

    .week-chart-scroll {
        margin-left: 0;
        margin-right: 0;
    }

    .calendar-scroll-body {
        padding-left: 0;
        padding-right: 0;
    }
}

.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: var(--gap-legend);
    padding: var(--padding-small);
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-background);

    @include mixins.tablet {
        position: static;
    }

    // Disable sticky header for landscape phones //
    @media (width <=896px) and (orientation: landscape) {
        position: static;
    }
}
