/* CSS Variables for Consistency */
:root {
    /* Layout spacings */
    --padding-header: 10px 15px;
    --padding-button: 4px 6px;
    --padding-small: 8px;
    --padding-base: 12px;
    --padding-xs: 4px;
    --gap-week: 0px;
    --gap-legend: 12px;
    --margin-section: 10px;

    /* Font sizes and weights */
    --font-small: 0.75rem;
    --font-base: 1rem;
    --font-subtitle: 1.25rem;
    --font-title: 1.75rem;
    --font-weight-bold: bold;
    --font-weight-normal: normal;

    /* Colors */
    --color-primary-dark: #00008B;
    --color-accent: #6A5ACD;
    --color-background: #f5f3fa;

    /* Day Header & Week Grid Colors */
    --color-day-header-text: var(--color-primary-dark);
    --color-day-header-bg: var(--color-background);
    --color-border-primary: var(--color-primary-dark);
    --color-border-accent: var(--color-accent);
    --color-border-grid: #7F8BAA;

    /* Borders and shadows */
    --border-radius-lg: 10px;
    --border-radius-sm: 5px;
    --border-radius-xs: 2px;
    --border-thin: 1px;
    --border-thick: 2px;
    --box-shadow-light: 0 -2px 4px var(--color-primary-dark);
    --box-shadow-modal: 0 0 20px var(--color-primary-dark);

    /* Row heights */
    --header-row-height: 3.5rem;
    --event-row-height: 30px;

    --arrow-width: 12px;
}

/* Padding, Margin, and Font Variables For Tablets*/
@media (max-width: 480px) {
    :root {

        --padding-header: 10px 15px;
        --padding-button: 6px 8px;
        --padding-small: 10px;
        --padding-base: 16px;
        --padding-xxs: 5px;
        --gap-week: 15px;
        --gap-legend: 18px;
        --margin-section: 15px;
        --font-small: 1rem;
        --font-base: 1.5rem;
        --font-subtitle: 1.75rem;
        --font-title: 2.25rem;
    }
}

/* Padding, Margin, and Font Variables for Desktops*/
@media (max-width: 768px) {
    :root {
        --padding-header: 15px 20px;
        --padding-button: 8px 10px;
        --padding-small: 12px;
        --padding-base: 20px;
        --padding-xxs: 6px;
        --gap-week: 20px;
        --gap-legend: 20px;
        --margin-section: 20px;
        --font-small: 1.5rem;
        --font-base: 2rem;
        --font-subtitle: 2.25rem;
        --font-title: 2.75rem;
    }
}

body {
    overflow: visible;
}