/* Headers */

h1,
.calendar-title {
    font-size: var(--font-title);
    text-align: center;
    color: var(--color-primary-dark);
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius-sm);
    padding: var(--padding-base);
    display: block;
    align-items: center;
}

.legend-title {
    font-size: var(--font-header);
    font-weight: var(--font-weight-bold);
    text-align: center;
    color: var(--color-accent);
    gap: var(--gap-legend);
    margin-bottom: var(--padding-small);
    width: 100%;
}

.legend-text {
    font-size: var(--font-base);
}

.legend-item {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    box-shadow: var(--box-shadow-subtle);
    border-radius: var(--border-radius-sm);
    padding: var(--padding-xxs) var(--padding-small);
}

.legend-color-box {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: var(--padding-xs);
    margin-right: var(--padding-xs);
}

/* Buttons */

.emoji-button {
    all: unset;
    cursor: pointer;
    font-size: var(--font-title-lg);
    line-height: 1;
    padding: var(--padding-button);
    transition: transform 0.2s ease;
}

.emoji-button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
    transition: opacity 0.5s ease;
}

#prev-button.emoji-button:hover {
    transform: scale(1.5) rotate(-10deg);
}

#next-button.emoji-button:hover {
    transform: scale(1.5) rotate(10deg);
}

/* Event related UI */

.overflow-toggle {
    color: var(--color-accent-dark);
    display: inline-block;
    text-align: left;
    margin: var(--margin-section) auto calc(var(--margin-section) * 4) auto;
    font-family: 'Segoe UI', sans-serif;
    font-size: var(--font-subtitle);
    font-weight: var(--font-weight-bold);
    padding: var(--padding-small);
    background-color: var(--color-background);
    border: var(--border-thin);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.overflow-box {
    width: 80%;
    font-size: var(--font-base);
    padding: var(--padding-base);
}

.day-label {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-base);
    margin-bottom: var(--padding-small);
    text-align: center;
    color: var(--color-primary-dark);
    position: sticky;
    top: 0;
    z-index: 15;
    background-color: var(--color-background);
    padding: var(--padding-xxs);
}

.hour-label {
    position: absolute;
    left: 0;
    font-size: var(--font-small);
    color: var(--color-accent);
    padding-left: var(--padding-small);
    box-sizing: border-box;
    z-index: 5;
    background-color: var(--color-background);
}

.event-label-title {
    font-size: var(--font-subtitle);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent);
    margin-bottom: var(--padding-large);
    text-align: center !important;
}

.event-label {
    margin-bottom: var(--padding-xs);
    font-size: var(--font-base);
    font-weight: var(--font-weight-normal);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--padding-xs);
    align-items: start;
}

.event-label strong {
    color: var(--color-accent);
}

.event-block {
    position: absolute;
    border: var(--border-thin);
    border-radius: var(--border-radius-sm);
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;
    font-size: var(--font-small);
    font-weight: var(--font-weight-normal);
}

.no-events {
    text-align: center;
    padding: var(--padding-base);
}

/* Larger screen adjustments for sticky header */
/* @media (min-width: 1024px) {
    .sticky-header .calendar-title {
        font-size: var(--font-title-lg);
    }

    .sticky-header .legend-title,
    .sticky-header .legend-text,
    .sticky-header .week-label {
        font-size: var(--font-subtitle-lg);
    }

    .sticky-header .emoji-button {
        font-size: var(--font-title-lg);
    }
} */