@use 'mixins' as mixins;
/* Application layout structure */
/* Layout and Structure */

html,
body {
    height: 100%;
    overflow: hidden;
}

@include mixins.mobile {

    html,
    body {
        height: auto;
        overflow: auto;
    }
}

.main-layout {
    font-family: 'Segoe UI', sans-serif;
    margin: 0 auto;
    padding-bottom: var(--padding-base);
}

.calendar-content {
    display: flex;
    flex-direction: column;

}

.day-grid {
    position: relative;
    width: 100%;
    box-sizing: border-box;

}

.day-event-catcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    pointer-events: auto;
}

.calendar-scroll-body {

    overflow-y: auto;
    padding: var(--padding-base);
    box-sizing: border-box;
    background-color: var(--color-background);
}

.week-chart-scroll {
    overflow-x: visible;
    /* scrolling handled by parent container */
    padding: 0 var(--padding-small) calc(var(--padding-base) * 3 + var(--overflow-expand-max-height));
    margin-bottom: 0;
}

.week-label {
    color: var(--color-primary-dark);
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius-sm);
    z-index: 900;
    text-align: center;
    font-size: var(--font-header);
    font-weight: var(--font-weight-bold);
    padding: var(--padding-small);
}

@include mixins.mobile {
    .week-label {
        font-size: var(--font-header);
    }
}

.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: var(--gap-legend);
    padding: var(--padding-small);
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-background);

    @include mixins.tablet {
        position: static;
    }

    // Disable sticky header for landscape phones //
    @media (max-width: 896px) and (orientation: landscape) {
        position: static;
    }
}