/* Utility Classes */

/* Padding */
.p-header {
    padding: var(--padding-header);
}

.p-small {
    padding: var(--padding-small);
}

.p-base {
    padding: var(--padding-base);
}

.p-xxs {
    padding: var(--padding-xxs);
}

/* Margin */
.mt-section {
    margin-top: var(--margin-section);
}

.mb-section {
    margin-bottom: var(--margin-section);
}

/* Gaps */
.week-gap {
    gap: var(--gap-week);
}

.legend-gap {
    gap: var(--gap-legend);
}

.font-xs {
    font-size: var(--font-xs);
}

/* Font sizes and weights */
.font-small {
    font-size: var(--font-small);
}

.font-base {
    font-size: var(--font-base);
}

.font-subtitle {
    font-size: var(--font-subtitle);
}

.font-title {
    font-size: var(--font-title);
}

.font-bold {
    font-weight: var(--font-bold);
}